/* style.css 파일 */

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .hamburger-middle {
  opacity: 0;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}
